

    <fieldset class="parentofclose wellflex">
      <legend><h2 data-test="searchResultTitle">{{location.name}} </h2></legend>

      <div *ngFor="let forecast of location.forecasts; index as ind">
        <div *ngIf="ind == 0">
          <h4>Current conditions: {{forecast.weather.description}}</h4>
          <h4>Temperature: {{forecast.current}}</h4>
          <h4>Max today: {{forecast.daily[0].temp.max}} - Min today: {{forecast.daily[0].temp.min}}</h4>

          <div data-test="closeSearchResult" class="close" (click)="handleClose()">x</div>
          <img class="iconimg" src="https://www.angulartraining.com/images/weather/{{forecast.weather.icon}}.png" alt="icon" width="80" height="auto" />
        </div>
      </div>

    <a *ngIf="location.name != undefined && location.zip != undefined && location.coord != undefined && location.coord.lon != undefined && location.coord.lat != undefined " data-test="fiveDayForecastLink" routerLink="/forecast/{{location.zip}}+{{spacesToDashes( location.name)}}+{{location.coord.lat}}+{{location.coord.lon}}"> Five Day Forecast for {{location.name}}</a>
    </fieldset>



