.close{position:absolute;right:0;top:-35px; cursor: pointer; }
.parentofclose{position: relative }
.wellflex{border-width: medium; border-style: solid; padding-bottom: 1px; width: 70%}
.iconimg{position:absolute; right: 0; top: 0;  bottom: 0;  margin: auto;}
