

    <fieldset class="parentofclose wellflex">
      <legend><h2 data-test="searchResultTitle">{{location.name}} </h2></legend>

        <div *ngIf="location">
          <h4>Current conditions: {{location.weather[0].main}}</h4>
          <h4>Temperature: {{location.main.temp}}</h4>
          <h4>Max today: {{location.main.temp_max}} - Min today: {{location.main.temp_min}}</h4>

          <div data-test="closeSearchResult" class="close" (click)="handleClose()">x</div>
          <img class="iconimg" src="https://www.angulartraining.com/images/weather/{{location.weather[0].main}}.png" alt="icon" width="80" height="auto" />
        </div>

    <a *ngIf="location.name != undefined && location.zip != undefined && location.coord != undefined && location.coord.lon != undefined && location.coord.lat != undefined " data-test="fiveDayForecastLink" routerLink="/forecast/{{location.zip}}+{{spacesToDashes( location.name)}}+{{location.coord.lat}}+{{location.coord.lon}}"> Five Day Forecast for {{location.name}}</a>
    </fieldset>



