<div>
  <fieldset class="wellflex" >
    <legend><h2 data-test="addLocationBoxTitle"  >Add a location</h2></legend>
      <h2>Enter a zipcode:</h2>
      <input data-test="locationField" class="form-control" placeholder="Zipcode" type="text" id="addLocation" [(ngModel)]="newZip" />

      <button data-test="searchButton" (click)="search()" class="btn btn-primary" id="addLocationBtn">
        Add location
      </button>
  </fieldset>

  <ng-container *ngIf="location$ | async as location">
    <div *ngFor="let loc of locations">
      <app-location [location]="loc" [locations]="locations"></app-location>
    </div>
  </ng-container>
</div>

