
<ng-container>
  <div class="container-fluid">


    <div class="well">
      <h2 data-test="addLocationBoxTitle">Enter a zipcode:</h2>
      <input data-test="locationField" class="form-control" placeholder="Zipcode" type="text" id="addLocation" [(ngModel)]="newZip">
      <br>
      <button data-test="searchButton" (click)="search()" class="btn btn-primary" id="addLocationBtn">
        Add location
      </button>
    </div>
  
    <div *ngIf="locations$ | async as locations">
      <div *ngFor="let loc of locations">
        <app-location [location]="loc" [locations]="locations" [locationz]="locationz" [locations$]="locations$" [observables]="observables" [removedZip]="removedZip"></app-location>
      </div>
    </div>
  </div>
</ng-container>

